/* o asterisco representa tudo da Pagina , ou seja um padrão que todas paginas vão receber */
 {
	margin: 0;
	padding: 0;
	font-family: arial,tahoma,verdana;
} 
/*
Cores
Azul escuro: #05036B
Azul bem claro: #D6D5E7;
*/

/* Estrutura da página */

body {
	margin: 0;
	padding: 0;
	background: #ccc ;
}

.wrapper {
	position: absolute;
	width: 900px;
	left: 50%;
	margin-left: -450px;
	padding: 10px 0;
}

.conteudo {
	padding: 47px 30px;
	min-height: 500px;
	background-color: #FFF;
}

/** Cabeçalho */

header {
	display: block;
	background-color: #FFF; 
	height: 100px;
	border-bottom: solid 1px #05036B;
}

/**
 Conteúdo Geral do Site */

h1, h2 {
	color: #05036B;
}

p {
	line-height: 1.5;
	color: #555;
}

.clearfix {
	overflow: auto;
}

/** Página Inicial */
/* Retirado(Usando Bootstrap)#pagina_inicial h1 #pagina_inicial h2 {
	margin: 40px 0px 10px 0px;
}*/

/** Currículo */

.nav-justified {
	width: 86%;
	float: right;
	margin: 2%;
	font-size: 35px;
}

header img {
	width: 80px;
	height: 80px;
	margin: 11px -14px 0px 24px;
}

#foto {
	width: 250px;
	height: 200px;
	overflow: hidden;
}

#foto img {
	position: absolute;
	left: 43%;
	top: 75%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

fieldset {
	background-color: #CDE1E4; 
	border-radius: 15px;
	margin: 23px -4px 0px 10px;
}

clearfix {
	margin-top: -49px;
}

#experiencias fieldset {
	margin:24px 0px 36px 0px;
	padding: 3px 0px 23px 25px;
}


/** Contato */

#contato h1 {
	margin: 0px 0px 50px 0px;
	text-align: center;
}

.form-control {
	width: 400px;
}
.form-horizontal {
	margin:0px 0px 57px 141px;
}

#radio_button {
	margin: 20px 0px 0px 0px;
}

#radio_button input {
	cursor: pointer;
}

#radio_button span {
	margin: 0px 0px 0px 34px;
}

.enviar button {
	color: #555;
	font-size: 28px;
	border-bottom: solid 5px #05036B;
	/* uma outra cor para o botão #425692 */
	font-weight: bold;
	margin-left: -55px;
	padding: 5px 5px 5px 5px;
	cursor: pointer;
}

.alert {
	display: none;
	text-align: center;
	width: 500px;
	margin: 9px -32px 47px 192px;
}

.close {
	margin:-5px 1px 1px 1px;
}

.glyphicon span {
	margin: 0px 0px -60px 0px;
}

.campo_erro {
	border-color: red;
}

/** Footer */
.container {
	width: 100%;
	background: #05036B;
	color: #FFF;
	padding: 5px;
	font-size: 15px;
	display: block;
}
