html
	head
		meta(charset='utf-8')
		title Currículo
		link(rel="stylesheet" href="../css/bootstrap.css")
		link(rel="stylesheet" type="text/css" href="../css/estilo.css")

	body
		
		div.wrapper

			header
				a#logo(href="inicio.html")
					img(src="../img/download.jpg")

				ul.nav.nav-pills.nav-justified
					li(role="presentation")
						a(href="inicio.html") Início

					li.active(role="presentation")
						a(href="curriculo.html") Currículo

					li(role="presentation")
						a(href="contato.html") Contato
				
			
			div.conteudo

				div.clearfix

					div#dados_pessoais

						div#foto.col-sm-4
							img(src="../img/fotopessoal.png" width="216" height="384")
						
						div
							h1.col-sm-8
								|Lucas de Castro Silva

							fieldset.col-sm-8
								h2 Objetivos
								p Formar em Sistemas de Informação pela Fagammon(Faculdade Presbiteriana Gammon), em que atualmente faço o 2 periodo , também seria de grande importância , colaborar com a empresa Lemaf em que faço estagio atualmente, todos tem uma ótima recepção , respeito e compromisso com o trabalho , é uma grande oportunidade estar em um meio de pessoas tão inteligentes e dedicadas.

						clearfix.col-sm-4

							table.table
								div
									label Idade: 
									span  18 anos

								div
									label Telefone: 
									span  (35)8884-3746
								
								div
									label Email: 
									span  lucascastro.lemaf@gmail.com

								div
									label Cidade: 
									span  Lavras

								div
									label Endereço: 
									span  Rua José Bernardino de Carvalho, 179, Centro, Lavras, MG, 37200-000
								
								div
									label Facebook: 
									span 
										a(href="https://m.facebook.com/lucas.silva.338863?ref=bookmarks") link
				div#experiencias
					h1.col-sm-12.text-center Experiências Profissionais

					fieldset
						h2 Estagiário
						label Período:
						span &nbsp 09/09/2015 a atual momento
						br
						label Empresa:
						span &nbsp Lemaf
						br
						label Descrição:
						span &nbsp Inserido no Departamento de Ciências Florestais - DCF da Universidade Federal de Lavras - UFLA. Que tem como objetivo de efetuar pesquisa, ensino e extensão, O LEMAF conduz diversos projetos em parceria e ou convênio com órgãos estaduais e federais, bem como a iniciativa privada. Estes estudos subsidiam o crescimento, desenvolvimento e aperfeiçoamento do ensino. 
						br
						label Tecnologias:
						span &nbsp Git,Html,CSS e JavaScript

					fieldset
						h2 Menor Aprendiz
						label Período:
						span &nbsp 13/01/2015 a 01/08/2015
						br
						label Empresa:
						span &nbsp Criare Informática
						br
						label Descrição:
						span &nbsp Empresa de Desenvolvimento de Softwares com parte fiscal integrada.Possui o SIA (Sistema Integrado de Administração) que faz o Gerente ou Administrador ter controle sobre todos produtos.
						br
						label Tecnologias:
						span &nbsp Delphi,FireBird,MySQL,MyBI e SVN

					h1.col-sm-12.text-center Formação Acadêmica
					
					fieldset
						h2 Ensino Superior

						label Período:
						span &nbsp 23/02/2015 a atual momento
						br
						label Instituição:
						span &nbsp Faculdade Presbiteriana Gammon (FAGAMMON)

					fieldset
						h2.col-sm-12 Ensino Básico

						label Período:
						span &nbsp 2001 a 2014
						br
						label Instituição:
						span &nbsp CNEC

			footer.container

				span
					|Desenvolvido por : <strong>Lucas Castro</strong> - 2015
				span.col-sm-4
					|Contato : 
					a(href="http://www.gmail.com.br") lucascastro.lemaf@gmail.com
				span.col-sm-4
					|Mais informações em : 
					a(href="http://www.ti.lemaf.ufla.br/") <strong>Lemaf</strong> / 
					a(href="http://www.ufla.br/")<strong>Ufla</strong>