html
	head
		meta(charset='utf-8')
		title Início
		link(rel="stylesheet" href="../css/bootstrap.css")
		link(rel="stylesheet" type="text/css" href="../css/estilo.css")
	body

		div.wrapper
		
			header
				a#logo(href="inicio.html")
					img(src="../img/download.jpg")
				
				ul.nav.nav-pills.nav-justified
					li.active(role="presentation")
						a(href="inicio.html") Início
					li(role="presentation")
						a(href="curriculo.html") Currículo
					li(role="presentation")
						a(href="contato.html") Contato
				
		div.conteudo
			div.col-sm-12
				h1 Sobre
				p
					|Olá , sou Lucas de Castro Silva , estou fazendo estágio pela empresa Lemaf , onde estou por meio deste site fazendo uma experiencia única com html está sendo algo muito frutuoso , apesar de vários erros eu estou sempre aprendendo e procurando melhorar no que é passado como tarefa.
				
			
			div.col-sm-12
				h2 Interesses
				p
					|Fazer um site em html e ajudar a Empresa da melhor maneira possível. Para que de tal forma eu possa evoluir na área de TI , aprender e contribuir para empresa da maneira em que for permitida.

	footer.container

		span
			|Desenvolvido por : <strong>Lucas Castro</strong> - 2015
		span.col-sm-4
			|Contato : 
			a(href="http://www.gmail.com.br")
			|lucascastro.lemaf@gmail.com
		span.col-sm-4
			|Mais informações em : 
			a(href="http://www.ti.lemaf.ufla.br/")<strong>Lemaf</strong> / 
			a(href="http://www.ufla.br/")<strong>Ufla</strong>

script(type="text/javascript" href="../jQuery/bootstrap.min.js")
