extends ../header.jade

block variables
	- var caminho_pasta_raiz = "../";
	- var bgquadro = "../imgs/trindade01.jpg";
	- var titulo = "Carisma";
	- var descricao = "“Os fariseus vieram perguntar-lhe para pô-lo à prova: É permitido ao homem rejeitar sua mulher por um motivo qualquer? Respondeu-lhes Jesus: Não lestes que o Criador, no começo, fez o homem e a mulher e disse: Por isso, o homem deixará seu pai e sua mãe e se unirá à sua mulher; e os dois formarão uma só carne? Assim, já não são dois, mas uma só carne. Portanto, não separe o homem o que Deus uniu. Disseram-lhe eles: Por que, então, Moisés ordenou dar um documento de divórcio à mulher, ao rejeitá-la? Jesus respondeu-lhes: É por causa da dureza de vosso coração que Moisés havia tolerado o repúdio das mulheres; mas no princípio não era assim.” (Mt 19,3-8) - Voltar a essência";

block titulo_topo
	h1
		a(href='../index.html') Aldeia do Sacramentado
		|  » 
		a(href='index.html') Carisma