extends ../header.jade

block variables
	- var caminho_pasta_raiz = "../";
	- var bgquadro = "../imgs/background-1.jpg";
	- var titulo = "Configurando o módulo";
	- var descricao = "O perfil Administrador do Módulo de Análise é o responsável pela configuração do sistema, sendo o responsável pela gerência das regiões de análise, os tipos de documentos, temas complementares, migração de processos e motivos de vistoria.";

block titulo_topo
	h1
		a(href='../index.html') Módulo de Análise
		|  » 
		a(href='index.html') Administrador