ol.breadcrumb
	li
		a(href="../index.html") Inicial
	li.active Carisma


div.page-header
	h1 Carisma

p Carisma é o meio por qual o céu se propaga na terra para nós membros de Vida e Aliança

ul
	li Somos chamados a viver uma vida na qual devemos ter uma vida de oração e voltar a essência em tudo o que fazemos , fazemos Compromissos de Obediência,Castidade,Pobreza parece um pouco com os votos dos Irmãos da Toca de Assis (Filhos da Pobreza e do Santíssimo Sacramento) na qual sofrem o mistério do Aniquilamento para si , e vivem apenas para doar-se pelo próximo e pela igreja.

br
