ol.breadcrumb
	li
		a(href="../index.html") Inicial
	li.active Administrador


div.page-header
	h1 Administrador

p Usuário responsável por:

ul
	li Analise técnica do processo

br

p Usuário responsável pela gerência de:

ul
	li Regiões de análise
	li Tipos de documentos
	li Temas complementares
	li Migração de processos
	li Motivos de vistoria


p

div