include header.jade

div.container.central
	nav.col-sm-3
		include navbar.jade

	article.col-sm-9
		
		ol.breadcrumb
			li
				a(href="../index.html") Inicial
			li
				a(href="index.html") Administrador
			li.active Migração de Processos


		div.page-header
			h1 Migração de Processos 
				small Administrador


		hr

		h2 Ações:
		ul
			li
				a(href="#Visualizar-processos")
					|Visualizar processos
			li
				a(href="#Migrar-processos") Migrar Processos


		hr

		h3
			a(name="Visualizar-processos")
			|Visualizar processos:

		ol
			li pendente <strong></strong>

		h3
			a(name="Migrar-processos")
			|Migrar Processos:
		p

		ol
			li pendente<strong></strong>

		hr
		h2 Perguntas e respostas frequentes:
		div#accordion.panel-group(role="tablist" aria-multiselectable="true")
			div.panel.panel-default
				div#headingOne.panel-heading(role="tab")
					h4.panel-title
						a(data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne")
						//- colocar aqui a pergunta

				div#collapseOne.panel-collapse.collapse(role="tabpanel" aria-labelledby="headingOne")
					div.panel-body
						p 
						//--Colocar aqui a resposta

			div.panel.panel-default
				div#headingTwo.panel-heading(role="tab")
					h4.panel-title
						a.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo")
						//- colocar aqui a pergunta

				div#collapseTwo.panel-collapse.collapse(role="tabpanel" aria-labelledby="headingTwo")
					div.panel-body
						p 
						//- colocar aqui a resposta
include ../footer.jade				