include header.jade

div.container.central
	nav.col-sm-3
		include navbar.jade

	article.col-sm-9
		
		ol.breadcrumb
			li
				a(href="../index.html") Inicial
			li
				a(href="index.html") Administrador
			li.active Motivos de Vistoria

		div.page-header
			h1 Motivos de Vistoria 
				small Administrador

		hr

		h2 Ações:
		ul
			li
				a(href="#Cadastrar-motivo-de-vistoria")|Cadastrar Motivo de Vistoria
			li
				a(href="#Ativar")
					|Ativar Motivo de Vistoria
			li
				a(href="#Inativar")
					|Inativar Motivo de Vistoria
			li
				a(href="#visualizar-motivo-de-vistoria") 
					|Visualizar Motivo de Vistoria
			li
				a(href="#editar-motivo-de-vistoria") 
					|Editar Motivo de Vistoria
			li
				a(href="#excluir-motivo-de-vistoria")
					|Excluir Motivo de Vistoria

		hr

		h3
			a(name="Cadastrar-motivo-de-vistoria")
			|Cadastrar Motivo de Vistoria:

		ol
			li pendente<strong></strong>


		h3
			a(name="Ativar") 
			|Ativar Motivo de Vistoria:

		p

		ol
			li pendente<strong></strong>


		h3
			a(name="Inativar") 
			|Inativar Motivo de Vistoria:

		p

		ol
			li pendente<strong></strong>


		h3
			a(name="visualizar-motivo-de-vistoria") 
			|Visualizar Motivo de Vistoria:

		ol
			li pendente<strong></strong>

		h3
			a(name="editar-motivo-de-vistoria") 
			|Editar Motivo de Vistoria:

		ol
			li pendente


		h3
			a(name="excluir-motivo-de-vistoria") 
			|Excluir Motivo de Vistoria:

		ol
			li pendente

		hr
		h2 Perguntas e respostas frequentes:
		div#accordion.panel-group(role="tablist" aria-multiselectable="true")
			div.panel.panel-default
				div#headingOne.panel-heading(role="tab")
					h4.panel-title
						a(data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne")
						//- colocar aqui a pergunta -->

				div#collapseOne.panel-collapse.collapse(role="tabpanel" aria-labelledby="headingOne")
					div.panel-body
						p As <strong>Regiões de Análise</strong> permitem a extratificação dos estados, de forma a organizar e facilitar a distribuição dos processos para os Gerentes Operacionais.
						p Cada <strong>Região de Análise</strong> é composta por um ou mais municípios do mesmo estado, podendo possuir um ou mais Gerentes Operacionais vinculados, sendo estes, os responsáveis pela tramitação dos processos para análise.

			div.panel.panel-default
				div#headingTwo.panel-heading(role="tab")
					h4.panel-title
						a.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo")
							//- colocar aqui a pergunta

				div#collapseTwo.panel-collapse.collapse(role="tabpanel" aria-labelledby="headingTwo")
					div.panel-body
						p 
						//- colocar aqui a resposta
include ../footer.jade