include header.jade

div.container.central
	nav.col-sm-3
		include navbar.jade

	article.col-sm-9
		
		
		ol.breadcrumb
			li
				a(href="../index.html") Inicial
			li
				a(href="index.html") Administrador
			li.active Regiões de Análise


		div.page-header
			h1 Regiões de Análise 
				small Administrador

		img.img-responsive(src="../imgs/perfil-administrador/regioes-de-analise/1-regioes-de-analise.jpg")

		hr

		h2 Ações:
		ul
			li
				a(href="#cadastrar-regiao-de-analise") 
					|Cadastrar região de análise
			li
				a(href="#vincular-desvincular-go-regiao-de-analise")
					|Vincular/desvincular GO à uma região de análise
			li
				a(href="#visualizar-detalhes-das-regioes-de-analise")
					|Visualizar detalhes das regiões de análise
			li
				a(href="#editar-região-de-analise") 
					|Editar região de análise
			li
				a(href="#excluir-região-de-analise") 
					|Excluir região de análise


		hr

		h3
			a(name="cadastrar-regiao-de-analise")
			|Cadastrar região de análise:

		ol
			li Acesse o botão <strong>Cadastrar Região de Análise</strong>;
			li Informe o <strong>Nome da Região</strong>;
			li O campo <strong>UF</strong> virá bloqueado para o estado do perfil;
			li Informe os <strong>Municípios</strong> que deseja adicionar à região;
			li Acesse o botão <strong>Cadastrar</strong>.


		h3
			a(name="vincular-desvincular-go-regiao-de-analise")
			|Vincular/desvincular GO à uma região de análise:

		ol
			li Acesse o botão <strong>Ações</strong> da região desejada;
			li Escolha a opção <strong>Vinculação de GO</strong>;
			li Será aberta uma janela contendo todos os detalhes sobre a <strong>Região de Análise</strong>.


		h3
			a(name="visualizar-detalhes-das-regioes-de-analise")
			|Visualizar detalhes das regiões de análise:

		p

		ol
			li Acesse o botão <strong>Ações</strong> da região desejada;
			li Escolha a opção <strong>Visualizar</strong>;
			li Será aberta uma janela contendo todos os detalhes sobre a <strong>Região de Análise</strong>.


		h3
			a(name="editar-região-de-analise")
			|Editar região de análise:

		ol
			li pendente

		h3
			a(name="excluir-região-de-analise")
			|Excluir região de análise:

		ol
			li pendente

		hr
		h2 Perguntas e respostas frequentes:
		div#accordion.panel-group(role='tablist', aria-multiselectable='true')
			div.panel.panel-default
				div#headingOne.panel-heading(role='tab')
					h4.panel-title
						a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
							| O que é uma região de análise?
				div#collapseOne.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingOne')
					div.panel-body
						p
						| As 
						strong Regiões de Análise
						|  permitem a extratificação dos estados, de forma a organizar e facilitar a distribuição dos processos para os Gerentes Operacionais.
						p
						| Cada 
						strong Região de Análise
						|  é composta por um ou mais municípios do mesmo estado, podendo possuir um ou mais Gerentes Operacionais vinculados, sendo estes, os responsáveis pela tramitação dos processos para análise.
			div.panel.panel-default
				div#headingTwo.panel-heading(role='tab')
					h4.panel-title
						a.collapsed(data-toggle='collapse' data-parent='#accordion' href='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
							| O que é a região de análise padrão?
				div#collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
					div.panel-body
						p
							| Todo estado possui sua 
							strong Região Padrão
							| . É a região inicial que abrange todos os municípios do estado. Somente à partir da criação de novas regiões, os municípios podem ser removidos da Região Padrão e transferidos às novas regiões criadas.
						p
							i
							strong Exemplo:
							|  um estado com 100 municípios possui inicialmente somente uma região, a Região Padrão (contendo os 100). Ao ser criada uma nova região, todos os municípios que lhe forem adicionados, sairão da Região Padrão. Portanto, se forem adicionados 20 municípios à região criada, a Região Padrão, antes com 100 municípios, terá agora 80.
include ../footer.jade