include header.jade

div.container.central
	nav.col-sm-3
		include navbar.jade

	article.col-sm-9
		
		ol.breadcrumb
			li
				a(href="../index.html") Inicial
			li
				a(href="index.html") Administrador
			li.active Tipos de Documentos

		div.page-header
			h1 Tipos de Documentos 
				small Administrador

		hr

		h2 Ações:
		ul
			li
				a(href="#Cadastrar-Tipo-de-Documento")|Cadastrar Tipo de Documento
			li
				a(href="#Ativar")
					|Ativar Tipo de Documento
			li
				a(href="#Inativar")
					|Inativar Tipo de Documento
			li
				a(href="#visualizar") 
					|Visualizar Tipo de Documento
			li
				a(href="#editar-tipo-de-documento") 
					|Editar Tipo de Documento
			li
				a(href="#excluir-documento")
					|Excluir Tipo de Documento

		hr

		h3
			a(name="Cadastrar-Tipo-de-Documento")
			|Cadastrar Tipo de Documento:

		ol
			li pendente<strong></strong>


		h3
			a(name="Ativar") 
			|Ativar Tipo de Documento:

		p

		ol
			li pendente<strong></strong>


		h3
			a(name="Inativar") 
			|Inativar Tipo de Documento:

		p

		ol
			li pendente<strong></strong>


		h3
			a(name="visualizar") 
			|Visualizar Tipo de Documento:

		ol
			li pendente<strong></strong>

		h3
			a(name="editar-tipo-de-documento") 
			|Editar Tipo de Documento:

		ol
			li pendente


		h3
			a(name="excluir-documento") 
			|Excluir Tipo de Documento:

		ol
			li pendente

		hr
		h2 Perguntas e respostas frequentes:
		div#accordion.panel-group(role="tablist" aria-multiselectable="true")
			div.panel.panel-default
				div#headingOne.panel-heading(role="tab")
					h4.panel-title
						a(data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne")
						//- colocar aqui a pergunta -->

				div#collapseOne.panel-collapse.collapse(role="tabpanel" aria-labelledby="headingOne")
					div.panel-body
						p As <strong>Regiões de Análise</strong> permitem a extratificação dos estados, de forma a organizar e facilitar a distribuição dos processos para os Gerentes Operacionais.
						p Cada <strong>Região de Análise</strong> é composta por um ou mais municípios do mesmo estado, podendo possuir um ou mais Gerentes Operacionais vinculados, sendo estes, os responsáveis pela tramitação dos processos para análise.

			div.panel.panel-default
				div#headingTwo.panel-heading(role="tab")
					h4.panel-title
						a.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo")
							//- colocar aqui a pergunta

				div#collapseTwo.panel-collapse.collapse(role="tabpanel" aria-labelledby="headingTwo")
					div.panel-body
						p 
						//- colocar aqui a resposta
include ../footer.jade