extends ../header.jade

block variables
	- var caminho_pasta_raiz = "../";
	- var bgquadro = "../imgs/background-3.jpg";
	- var titulo = "Membros";
	- var descricao = "A amizade entre as pessoas torna-se querida pelo vínculo suave que une muitas almas numa só - (Santo Agostinho)";

block titulo_topo
	h1
		a(href='../index.html') Aldeia do Sacramentado
		|  » 
		a(href='index.html') Membros