ol.breadcrumb
	li
		a(href="../index.html") Inicial
	li.active Membros

div.page-header
	h1 Membros

	ul
	
		h3
			<strong>Consagrados:</strong>
		ul
			li
				|Tony Ferreira (Fundador) consagrado em 2015,renovando pelo primeiro ano seus compromissos em 2016 por intercessão de São Pedro de Alcântara
			li
				|Sandra Correa (Co-Fundador) consagrada em 2016 por intercessão a Santa Teresa D'Ávila
			li
				|Thais Ferreira consagrada em 2016 por intercessão a Santa Gemma Galgani
			li
				|Nilton de Castro consagrado em 2016 por intecessão a São Tomás de Aquino
			li
				|Aline Pereira consagrada em 2016 por intecessão a Santa Teresa de Lisieux
			li
				|David Lemos consagrado em 2016
			li
				|Leidilene consagrada em 2016
	ul
		h3
			<strong>Discipulado:</strong>
		ul
			li
				|Lucas de Castro Silva postulantado de 2015
			li
				|Natália de Souza postulantado de 2015
			li
				|Alessandro Richard postulantado de 2015
			li
				|Karolline Oliveira Lima postulantado de 2015
			li
				|Josiane Oliveira postulantado de 2015
			li
				|Matilde postulantado de 2015
			li
				|Claudio postulantado de 2015
			li
				|Patrícia Andrade
			li
				|Karina Obana Rosa postulantado de 2015
			li
				|Isael Aparecido Rosa postulantado de 2015
			li
				|Carla postulantado de 2015
	ul
		h3
			<strong>Postulantado</strong>
		ul
			li
				|Andiara França aspirantado de 2015
			li
				|Guilherme França aspirantado de 2015
			li
				|Ana Laura aspirantado de 2015
			li
				|Claudia Almeida aspirantado de 2015
			li
				|Eliana aspirantado de 2015
			li
				|Guilherme Andrade aspirantado de 2015
			li
				|Hélio aspirantado de 2015
			li
				|Inácia aspirantado de 2015
			li
				|Marcelo aspirantado de 2015
			li
				|Valeria aspirantado de 2015
			li
				|Maysa aspirantado de 2015
			li
				|Pamela aspirantado de 2015
			li
				|Paulo aspirantado de 2015
			li
				|Rodrigo aspirantado de 2015
			li
				|Wellington aspirantado de 2015
	ul
		h3
			<strong>Aspirantes</strong>
		ul
			li
				|Lorran Fonseca aspirantado de 2016
			li
				|Janaina Lima aspirantado de 2016


