extends ../header.jade

block variables
	- var caminho_pasta_raiz = "../";
	- var bgquadro = "../imgs/duduepamela.jpg";
	- var titulo = "História da Comunidade";
	- var descricao = "Em 2002 nosso Pai e Fundador Tony Ferreira foi fazer uma experiência na Toca de Assis,após um tempo de experiência ele viu que não era aquela a vocação dele , e sim matrimonial, desde então algo o deixava incomodado e ele não sabia o que era. Após um tempo sendo guiado pelo Ir.Francisco de Assis (hoje já não é mais Irmão pois se desligou da Toca para seguir o Sacerdócio) ele foi sentindo que havia um chamado de Deus para com ele.";

block titulo_topo
	h1
		a(href='../index.html') Aldeia do Sacramentado
		|  » 
		a(href='index.html') História