meta(charset='utf-8')
ol.breadcrumb
	li
		a(href="../index.html") Inicial
	li.active História


div.page-header
	h1 História


p Após o XXI Concílio Ecumênico da Igreja Católica , realizado no dia 25 de Dezembro de 1961 chamado Concílio Vaticano II, foi permitido que fizesse as Novas Comunidades. "Os movimentos e as Novas Comunidades são a resposta providencial suscitada pelo Espírito Santo.Vós sois esta resposta providencial"(São João Paulo II).

ul
	li <strong>Nosso Pai Tony Ferreira em 2012 então fundou a nossa comunidade Aldeia do Sacramentado</strong>

	p

	img(src="../imgs/aldeia.jpg" class="img-responsive")
	br
ul 
	li Nosso Símbolo e Nome foram dados ao nosso pai em uma de suas experiências com seu Guardião Irmão Francisco de Assis
	br
	li <strong>O significado do Símbolo :</strong>
		p O Símbolo é composto por 4 imagens , sendo elas 3 tendas , uma das tendas somos nós membros da Comunidade , a outra tenda representa nossos irmãos também membros da Comunidade, um pouco a frente temos a nossa <strong>Santa Igreja</strong> no centro de nossas casas.
		p Em cima temos <strong>Jesus Eucarístico</strong>,como Sol de nossas tendas. Como dizia São Padre Pio: "O Mundo pode até viver sem o Sol,mas jamais sem a Santa Missa", sem Jesus Sacramentado nada seria possível.
	li <strong>O Nome da Comunidade:</strong>
		p Aldeia do Sacramentado , para entendermos vamos pegar as Sagradas Escrituras onde tem um famoso lugar que Jesus sempre ia descansar, pois bem essa era a Aldeia de Betânia.Essa aldeia é citada em várias partes das Sagradas Escrituras,era uma cidade pequena, quase um vilarejo afastado da grande Jerusalém,onde viviam leprosos e seus familiares,ali também vivam Marta,Maria e Lázaro(melhor amigo de Jesus). Naquela pequena comunidade é que Jesus sempre descansava ou fazia algo sublime, foi lá que aconteceu a ressurreição de Lázaro, sua ascenção ao Céu, Betânia foi exatamente o lugar em que Jesus gostava de estar , ele amava estar em um lugar onde realizava curas e estava dentre os que tinham a fé verdadeira no filho de Deus.Não é atoa que sempre curava leprosos na Aldeia de Betânia.
		p O Nome <strong>Aldeia</strong> veio exatamente a exemplo de <strong>Betânia</strong> e sem lembrar que a palavra Aldeia remete a algo simples,sem luxos. <strong>Aldeia do Sacramentado</strong>, ou seja de <strong>Jesus Sacramentado</strong>,<strong>Jesus Eucarístico</strong> esse sim é o centro de nossas vidas,o sol que ilumina e aquece a tenda de cada Membro da <strong>Aldeia do Sacramentado</strong> é a ele que devemos toda honra e glória.

