ol.breadcrumb
	li.active Patronas

div.row
	div.col-md-4
		div.thumbnail
			img.img-responsive(src="imgs/icone-gerente-operacional.jpg" alt="...")
			div.caption
				h2 Santa Teresa de Jesus
				p 
				p
					|- Fundadora de mais de 32 mosteiros juntamente a São João da Cruz 
					br
					|- Doutora da Igreja
					br
					|- Grande Mística 
					br
				br
				p 
					
	div.col-md-4
		div.thumbnail
			img.img-responsive(src="imgs/icone-tecnico.jpg" alt="...")
			div.caption
				h2 Santa Teresa de Lisieux
				p - Analise técnica do processo
				br
				p
					
	div.col-md-4
		div.thumbnail
			img.img-responsive(src="imgs/icone-administrador.jpg" alt="...")
			div.caption
				h2 Madre Teresa de Calcutá
				p Usuário responsável pela gerência de:
				p
					| - Regiões de análise
					br
					|- Tipos de documentos
					br
					|- Temas complementares
					br
					|- Migração de processos
					br
					|- Motivos de vistoria
				br
				p
					