ol.breadcrumb
	li.active <strong>Patronas</strong>

div.row
	div.col-md-4
		div.thumbnail
			img.img-responsive(src="imgs/avila.jpg" alt="...")
			div.caption
				h2 Santa Teresa de Jesus
				p 
				p 
					
	div.col-md-4
		div.thumbnail
			img.img-responsive(src="imgs/madre.jpg" alt="...")
			div.caption
				h2 Madre Teresa de Calcutá
				p 
				p
					
	div.col-md-4
		div.thumbnail
			img.img-responsive(src="imgs/teresinha.jpg" alt="...")
			div.caption
				h2 Santa Teresa de Lisieux
				p
				p