ol.breadcrumb
	li.active Inicial

div.row
	div.col-md-4
		div.thumbnail
			img.img-responsive(src="imgs/icone-gerente-operacional.jpg" alt="...")
			div.caption
				h2 Gerente Operacional
				p Usuário responsável pela gerência de:
				p
					|- Vinculação de equipe técnica aos processos 
					br
					|- Validação de vistorias
					br
					|- Validação de análises 
					br
					|- Emissão de notificação 
					br
					|- Acompanhamento de processos analisados
					br
					|- Cancelamento de processos
				br
				p 
					a.btn.btn-success(href="perfil-gerente-operacional/index.html" role="button") Acessar
	div.col-md-4
		div.thumbnail
			img.img-responsive(src="imgs/icone-tecnico.jpg" alt="...")
			div.caption
				h2 Técnico
				p Usuário responsável pela gerência de:
				p - Analise técnica do processo
				br
				p
					a.btn.btn-success(href="perfil-tecnico/index.html" role="button") Acessar
			
	div.col-md-4
		div.thumbnail
			img.img-responsive(src="imgs/icone-administrador.jpg" alt="...")
			div.caption
				h2 Administrador
				p Usuário responsável pela gerência de:
				p
					| - Regiões de análise
					br
					|- Tipos de documentos
					br
					|- Temas complementares
					br
					|- Migração de processos
					br
					|- Motivos de vistoria
				br
				p
					a.btn.btn-success(href="perfil-administrador/index.html" role="button") Acessar