include header.jade

div.container.central
	nav.col-sm-3
		include navbar.jade

	article.col-sm-9

		ol.breadcrumb
			li
				a(href="../index.html") Inicial
			li
				a(href="index.html") Gerente Operacional

			li.active Análise

		div.page-header
			h1 Análise 
				small Gerente Operacional

		hr

		h2 Ações:
		ul
			li
				a(href="#vincular-desvincular") Vincular/Desvincular
			li
				a(href="#detalhes-do-imóvel") Detalhes do Imóvel
			li
				a(href="#visualizar-equipe-mudar-lider") Visualizar equipe/Alterar líder
			li
				a(href="#vincular-técnicos") Vincular Técnicos
			li
				a(href="#desvincular-técnicos") Desvincular Técnicos
			li
				a(href="#cancelar-processo") Cancelar Processo

		h2 Funcionalidades:
		ul
			li
				a(href="#")
				|pendente

		hr

		h3
			a(name="vincular-desvincular") 
			|Vincular/Desvincular
		ol
			li pendente<strong></strong>

		h3
			a(name="detalhes-do-imóvel")
			|Detalhes do Imóvel
		ol
			li pendente<strong></strong>

		h3
			a(name="visualizar-equipe-mudar-lider")
			|Visualizar equipe/Alterar líder
		ol
			li pendente<strong></strong>


		h3
			a(name="vincular-técnicos")
			|Vincular Técnicos
		ol
			li pendente<strong></strong>

		h3
			a(name="desvincular-técnicos")
			|Desvincular Técnicos

		ol
			li pendente<strong></strong>

		h3
			a(name="cancelar-processo")
			|Cancelar Processos
		ol
			li pendente<strong></strong>
		hr
			
		hr
		h2 Perguntas e respostas frequentes:
		div#accordion.panel-group(role="tablist" aria-multiselectable="true")
			div.panel.panel-default
				div#headingOne.panel-heading(role="tab")
					h4.panel-title
						a(data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne")
						//- colocar aqui a pergunta -->

				div#collapseOne.panel-collapse.collapse(role="tabpanel" aria-labelledby="headingOne")
					div.panel-body
						p 
						//- Colocar aqui a resposta

			div.panel.panel-default
				div#headingTwo.panel-heading(role="tab")
					h4.panel-title
						a.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo")
							//- colocar aqui a pergunta

				div#collapseTwo.panel-collapse.collapse(role="tabpanel" aria-labelledby="headingTwo")
					div.panel-body
						p 
						//- colocar aqui a resposta
include ../footer.jade