extends ../header.jade

block variables
	- var caminho_pasta_raiz = "../";
	- var bgquadro = "../imgs/background-2.jpg";
	- var titulo = "Gerenciando os processos";
	- var descricao = "O perfil Gerente Operacional é o responsável pela gerência dos processos, desde sua vinculação de equipe para análise até o ato da validação do parecer. Cabe também ao gerente operacional validar as vistorias, emitir notificações, gerenciar o envio e entrega das mesmas e acompanhar os processos já analisados.";

block titulo_topo
	h1
		a(href='../index.html') Módulo de Análise
		|  » 
		a(href='index.html') Gerente Operacional