meta(charset='utf-8')
ol.breadcrumb
	li
		a(href="../index.html") Inicial
	li.active Gerente Operacional


div.page-header
	h1 Gerente Operacional


p Usuário responsável por:

ul
	li Analise técnica do processo


br

p Usuário responsável por:

ul
	li Vinculação de equipe técnica aos processos
	li Validação de vistorias
	li Validação de análises
	li Emissão de notificação
	li Acompanhamento de processos analisados
	li Cancelamento de processos


p