div.list-group

	a.list-group-item.titulo.active(href="index.html") Gerente Operacional
	a.list-group-item(href="pagina-inicial.html") Página Inicial
	a.list-group-item(href="caixa-de-entrada.html") Caixa de Entrada
	a.list-group-item(href="analise.html") Análise
	a.list-group-item(href="validacao-das-vistorias.html") Validação das Vistorias
	a.list-group-item(href="validacao-da-analise.html") Validação da Análise
	a.list-group-item(href="comunicacao.html") Comunicação
	a.list-group-item(href="processos-analisados.html") Processos Analisados
	a.list-group-item(href="cancelamento.html") Cancelamento
	a.list-group-item(href="consultar-processos.html") Consultar Processos
	
a(href="../index.html")« Voltar