include header.jade

div.container.central
	nav.col-sm-3
		//- (Mudança a estrutura) ao invés de usar include navbar , aqui tive que colocar todo submenu pois dentro de Análise Técnica possui um outro submenu e as demais páginas dentro do submenu estão com essa mesma estrutura
		div.list-group
			a.list-group-item(href="index.html") Técnico
			a.list-group-item(href="pagina-inicial.html") Página Inicial
			a.list-group-item(href="caixa-de-entrada.html") Caixa de Entrada
			a.list-group-item.active(href="analise-tecnica.html") Análise Técnica
			div.list-group-item
				a(href='dados-gerais.html' role='button') Dados Gerais
				br
				a(href='documentos-enviados.html' role='button') Documentos Enviados
				br
				a(href='analise-da-ficha-do-imovel.html' role='button') Análise da Ficha do Imóvel
				br
				a(href='analise-geo.html' role='button') Análise Geo
				br
				a(href='vistoria.html' role='button') Vistoria
				br
				a(href='resumo.html' role='button') Resumo
				br
				a(href='conclusao.html' role='button') Conclusão
			a.list-group-item(href="consultar-processos.html") Consultar Processos
	
		a(href="../index.html")« Voltar

	article.col-sm-9


		ol.breadcrumb
			li
				a(href="../index.html") Inicial
			li
				a(href="index.html") Técnico
			li.active Análise Técnica

		div.page-header
			h1 Análise Técnica 
				small Técnico

		img(src="../imgs/perfil-tecnico/analise-tecnica/1-analise-tecnica.jpg" class="img-responsive")

		hr

		h2 Ações:
		ul
			li
				a(href="#visualizar_detalhes") Visualizar detalhes do imóvel
			li
				a(href="#visualizar_despacho") Visualizar despacho
			li
				a(href="#solicitar_desvinculacao") Solicitar desvinculação
			li
				a(href="#continuar_analise") Continuar Análise

		h2 Funcionalidades:
		ul
			li
				a(href="#filtrar_processos") Filtrar Processos

		hr

		h3
			a(name="visualizar_detalhes")
			|Visualizar detalhes do imóvel
		ol
			li Acesse o botão <strong>Ações » Detalhes do Imóvel</strong> do processo desejado.


		h3
			a(name="visualizar_despacho")
			|Visualizar despacho
		ol
			li Acesse o botão <strong>Ações » Visualizar Despacho</strong> do processo desejado.

		h3
			a(name="solicitar_desvinculacao")
			|Solicitar desvinculação
		ol
			li Acesse o botão <strong>Ações » Solicitar Desvinculação</strong> do processo desejado;
			li Selecione o <strong>motivo</strong>;
			li Informe a <strong>justificativa</strong>;
			li Acesse o botão <strong>Solicitar</strong>.

		h3
			a(name="continuar_analise")
			|Continuar Análise
		ol
			li Acesse o botão <strong>Ações » Continuar Análise</strong> do processo desejado;

		hr

		h3
			a(name="filtrar_processos")
			|Filtrar Processos
		ol
			li Acesse o painel <strong>Filtrar Processos</strong>;
			li Informe os campos necessários que deseja filtrar;
			li Acesse o botão <strong>Pesquisar</strong>.

		hr
		h2 Perguntas e respostas frequentes:
		div#accordion.panel-group(role="tablist" aria-multiselectable="true")
			div.panel.panel-default
				div#headingOne.panel-heading(role="tab")
					h4.panel-title
						a(data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne")
							|Por que não encontro um processo?

				div#collapseOne.panel-collapse.collapse(role="tabpanel" aria-labelledby="headingOne")
					div.panel-body
						|Há duas opções para que um processo do qual você tenha iniciado analise não se encontre mais na etapa 'Análise Técnica': (i) o técnico líder concluiu a análise e enviou para o Gerente Operacional validá-la ou (ii) você foi desvinculado da equipe técnica do processo.

			div.panel.panel-default
				div#headingTwo.panel-heading(role="tab")
					h4.panel-title
						a.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo")
							|Por que um dos meus processos na listagem está com sua linha marcada na cor verde?

				div#collapseTwo.panel-collapse.collapse(role="tabpanel" aria-labelledby="headingTwo")
					div.panel-body
						p A linha marcada na cor verde indica que a análise do processo foi finalizada pelo técnico líder, porém ainda não concluída. Isto é, a análise foi finalizada, não podendo mais os técnicos indicarem inconsistências ou alterarem qualquer análise já feita, ficando pendente somente da conclusão pelo técnico líder, momento no qual o processo é enviado para validação do Gerente Operacional.
						|Obs: a finalização da análise pode ser desfeita pelo técnico líder antes da conclusão.
include ../footer.jade