include header.jade

div.container.central
	nav.col-sm-3
		//- (Mudança a estrutura) ao invés de usar include navbar , aqui tive que colocar todos submenu pois dentro de Análise Técnica possui um outro submenu e as demais páginas dentro do submenu estão com essa mesma estrutura
		div.list-group
			a.list-group-item(href="index.html") Técnico
			a.list-group-item(href="pagina-inicial.html") Página Inicial
			a.list-group-item(href="caixa-de-entrada.html") Caixa de Entrada
			a.list-group-item.active(href="analise-tecnica.html") Análise Técnica
			div.list-group-item
				a(href='dados-gerais.html' role='button') Dados Gerais
				br
				a(href='documentos-enviados.html' role='button') Documentos Enviados
				br
				a(href='analise-da-ficha-do-imovel.html' role='button') Análise da Ficha do Imóvel
				br
				a(href='analise-geo.html' role='button') Análise Geo
				br
				a(href='vistoria.html' role='button') Vistoria
				br
				a(href='resumo.html' role='button') Resumo
				br
				a(href='conclusao.html' role='button') Conclusão
			a.list-group-item(href="consultar-processos.html") Consultar Processos
	
		a(href="../index.html")« Voltar

	article.col-sm-9

		ol.breadcrumb
			li
				a(href="../index.html") Inicial
			li
				a(href="index.html") Técnico
			li
				a(href="analise-tecnica.html") Análise Técnica
			li.active Dados Gerais

		div.page-header
			h1 Análise » Dados Gerais 
				small Técnico

		h2 Itens:

		ul
			li
				a(href="#tecnicos-responsaveis") Técnicos Responsáveis
			li
				a(href="#historico-da-analise") Histórico da análise
			li
				a(href="#historico-do-processo") Histórico do processo
			li
				a(href="#historico-da-tramitacao") Histórico da tramitação
			li
				a(href="#analises-anteriores") Análises Anteriores

		hr

		h3
			a(name="tecnicos-responsaveis")
			|Técnicos Responsáveis
		p Exibe os dados dos técnicos que compõe atualmente a equipe técnica de análise do processo:
		ul
			li Nome
			li CPF

		br

		h3
			a(name="historico-da-analise")
			|Histórico da análise
		p Exibe os dados do histórico da análise atual:</p>
		ul
			li<strong>Data de envio do car:</strong> dia em que o processo foi enviado para a base de dados do SICAR.
			li<strong>Data da primeira vinculação da equipe:</strong> dia em que foi realizada a primeira vinculação de técnicos à equipe pelo Gerente Operacional.
			li<strong>Data do início da análise técnica:</strong> dia em que o primeiro técnico da equipe iniciou análise.
			li <strong>Data de finalização da análise técnica:</strong> dia em que o técnico líder finalizou a análise.
			li <strong>Data de conclusão da análise técnica:</strong> dia em que o técnico líder concluiu a análise.
			li <strong>Duração da análise:</strong> tempo total de duração da análise (do início da análise pelo primeiro ténico ao momento da conclusão da mesma pelo técnico líder).

		br

		h3
			a(name="historico-do-processo")
			|Histórico do processo
		p Exibe os dados referentes ao histórico do processo (SICAR):
		ul
			li Data
			li Descrição

		br

		h3
			a(name="historico-da-tramitacao")
			|Histórico da tramitação
		p Exibe os dados referentes às tramitações da análise atual:
		ul
			li Data
			li Hora
			li Ação

		br

		h3
			a(name="analises-anteriores")
			|Análises Anteriores
		p Exibe os dados e documentos resultantes das análises anteriores do processo:
		ul
			li <strong>Parecer Técnico:</strong> documento PDF com o Parecer Técnico gerado pela equipe técnica.
			li <strong>Relatório de Análise:</strong> documento PDF com o Relatório de Análise gerada pelo Gerente Operacional.
			li <strong>Dados Análise:</strong> exibe os dados referente às análises anteriores.

		br


	//-	hr
		h2 Perguntas e respostas frequentes
		div#accordion.panel-group(role="tablist" aria-multiselectable="true")
			div.panel.panel-default
				div#headingOne.panel-heading(role="tab")
					h4.panel-title
						a(data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne")
							|Pergunta 1

				div#collapseOne.panel-collapse.collapse(role="tabpanel" aria-labelledby="headingOne")
					div.panel-body
						p Resposta1

			div.panel.panel-default
				div#headingTwo.panel-heading(role="tab")
					h4.panel-title
						a.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo")
							|Pergunta 2

				div#collapseTwo.panel-collapse.collapse(role="tabpanel" aria-labelledby="headingTwo")
					div.panel-body
						p Resposta 2
include ../footer.jade