include header.jade

div.container.central
	nav.col-sm-3
		//- (Mudança a estrutura) ao invés de usar include navbar , aqui tive que colocar todos submenu pois dentro de Análise Técnica possui um outro submenu e as demais páginas dentro do submenu estão com essa mesma estrutura
		div.list-group
			a.list-group-item(href="index.html") Técnico
			a.list-group-item(href="pagina-inicial.html") Página Inicial
			a.list-group-item(href="caixa-de-entrada.html") Caixa de Entrada
			a.list-group-item.active(href="analise-tecnica.html") Análise Técnica
			div.list-group-item
				a(href='dados-gerais.html' role='button') Dados Gerais
				br
				a(href='documentos-enviados.html' role='button') Documentos Enviados
				br
				a(href='analise-da-ficha-do-imovel.html' role='button') Análise da Ficha do Imóvel
				br
				a(href='analise-geo.html' role='button') Análise Geo
				br
				a(href='vistoria.html' role='button') Vistoria
				br
				a(href='resumo.html' role='button') Resumo
				br
				a(href='conclusao.html' role='button') Conclusão
			a.list-group-item(href="consultar-processos.html") Consultar Processos
	
		a(href="../index.html")« Voltar

	article.col-sm-9


		ol.breadcrumb
			li
				a(href="../index.html") Inicial
			li
				a(href="index.html") Técnico
			li
				a(href="analise-tecnica.html") Análise Técnica
			li.active Documentos Enviados

		div.page-header
			h1 Análise » Documentos Enviados 
				small Técnico

		h2 Itens:

		ul
			li
				a(href="#documentos-enviados") Documentos Enviados
			li
				a(href="#documentos-recebidos") Documentos Recebidos

		hr

		h3
			a(name="documentos-enviados")
			|Documentos Enviados
		p Exibe os documentos enviados pelo proprietário/possuidor através da Central de Comunicação, em atendimento de solicitação realizada pela análise da equipe técnica.

		h3
			a(name="documentos-recebidos")
			|Documentos Recebidos
		p Exibe os documentos enviados pelo proprietário/possuidor através da Central de Comunicação, em atendimento de solicitação realizada pela análise da equipe técnica.
//-
		hr
		h2 Perguntas e respostas frequentes
		div#accordion.panel-group(role="tablist" aria-multiselectable="true")
			div.panel.panel-default
				div#headingOne.panel-heading(role="tab")
					h4.panel-title
						a(data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne")
							|Como o proprietário/possuidor pode enviar um documento?

				div#collapseOne.panel-collapse.collapse(role="tabpanel" aria-labelledby="headingOne")
					div.panel-body
						p Basta utilizar a Cetral de Comunicação.

			div.panel.panel-default
				div#headingTwo.panel-heading(role="tab")
					h4.panel-title
						a.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo")
							|Pergunta 2
				div#collapseTwo.panel-collapse.collapse(role="tabpanel" aria-labelledby="headingTwo")
					div.panel-body
						p Resposta 2
include ../footer.jade