extends ../header.jade

block variables
	- var caminho_pasta_raiz = "../";
	- var bgquadro = "../imgs/background-3.jpg";
	- var titulo = "Análise do imóvel";
	- var descricao = "O perfil Técnico é o repsonsável pela análise completa dos processos, da análise da ficha do imóvel à aprovação da Reserva Legal. Cabe também aos técnicos as solicitações de vistorias e realização das mesmas junto aos analistas de campo.";

block titulo_topo
	h1
		a(href='../index.html') Módulo de Análise
		|  » 
		a(href='index.html') Técnico