ol.breadcrumb
	li
		a(href="../index.html") Inicial
	li.active Técnico

div.page-header
	h1 Técnico

p Usuário responsável por:

ul
	li Analise técnica do processo

br

p Seções disponíveis para o técnico:

ul
	li(href="#") Página Inicial
	li(href="#") Caixa de Entrada
	li(href="#") Análise Técnica
	li(href="#") Consultar Processos


p

div