ol.breadcrumb
	li
		a(href="../index.html") Inicial
	li.active Membros

div.page-header
	h1 Membros

	ul
	
		<strong>Consagrados:</strong>
		ul
			li
				|Tony Ferreira (Fundador) consagrado em 2015,renovando pelo primeiro ano seus compromissos em 2016 por intercessão de São Pedro de Alcântara
			li
				|Sandra Correa (Co-Fundador) consagrada em 2016 por intercessão a Santa Teresa D'Ávila
			li
				|Thais Ferreira consagrada em 2016 por intercessão a Santa Gemma Galgani
			li
				|Nilton Cosme de Castro consagrado em 2016 por intecessão a São Tomás de Aquino
	ul
		<strong>Discipulado:</strong>
		ul
			li
				|Lucas de Castro Silva
			li
				|Natália de Souza
			li
				|Alessandro Richard
			li
				|Karolline Oliveira Lima
			li
				|Josiane Oliveira
			li
				|Matilde
			li
				|Claudio
			li
				|Patrícia Andrade
			li
				|Karina Obana Rosa
			li
				|Isael Aparecido Rosa
			li
				|Carla

